# Rails
*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/db/*.sqlite3-shm
/db/*.sqlite3-wal
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep
/public/assets
.byebug_history

# Bundler
/.bundle
/vendor/bundle
Gemfile.lock

# Environment
.env
.env.*
!.env.example

# Editor
.idea/
.vscode/
*.swp
*.swo
.DS_Store
